<head>
<title><%= current_page.data.title || "NAME OF MY SITE | MY TITLE" %></title>
<meta name="description" content="Description of my portfolio site">
<!-- Facebook Open Graph data -->
<meta property="og:title" content="NAME OF MY SITE | MY TITLE" />
<meta property="og:type" content="website" />
<meta property="og:url" content="THE_URL_OF_MY_PORTFOLIO" />
<meta property="og:image" content="<%= image_path 'MY_OG_IMAGE_WITH_RIGHT_SIZE.png' %>" />
<meta property="og:description" content="Description of my portfolio site" />
<meta property="og:site_name" content="NAME OF MY SITE | MY TITLE" />
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@twitter_handle">
<meta name="twitter:title" content="NAME OF MY SITE | MY TITLE">
<meta name="twitter:description" content="Description of my portfolio site">
<meta name="twitter:creator" content="@twitter_handle">
<meta name="twitter:image:src" content="<%= image_path 'MY_OG_IMAGE_WITH_RIGHT_SIZE.png' %>">
</head>

<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
